apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
spec:
  replicas: 3                      # how many Pods
  selector:
    matchLabels:
      app: web
  template:                         # Pod template
    metadata:
      labels:
        app: web
    spec:
      containers:
        - name: web
          image: nginx:1.25
          ports:
            - containerPort: 80